---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (await getCollection('writing'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---
<BaseLayout title="writing">
  <h1>writing</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/writing/${post.id}`}>{post.data.title}</a>
        — <time>{post.data.pubDate.toDateString()}</time>
      </li>
    ))}
  </ul>
</BaseLayout>
